*, *::before, *::after {
	box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  text-align: center;
  color:#666;
}
h1{
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 1.5px;
}
h2 {
	font-size: 28px;
	font-weight: 600;
	letter-spacing: 1px;
}
.container {
	padding: 2rem;
	background-color: #fff;
	min-height: 100vh;
	display: flex;
	flex-flow: column;
}

#favs {
	text-decoration: none;
	color: #666;
	text-align:right;
	margin-right: 2rem;
}
input {
	height: 5rem;
	width: 90vw;
	background-color: #f4f7f6;
	border:1px solid transparent;
	border-radius: .2rem;
	font-size: 36px;
	font-weight: 600;
	color:#666;
	padding-left: 3rem;

}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccccccd6;
    opacity: 1; /* Firefox */
	margin-left: 2rem;

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccccccd6;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccccccd6;
}
input:focus{
    outline: none;
}
#results{
	display: flex;
	flex-direction: column;
}
.SongAnchor {
	text-decoration: none;
	color: inherit;
}
.SongItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:1rem 4rem 0px 4rem;
	border-bottom: .9px solid #b1b1b1;
	cursor: pointer;
}

.LeftItem {
	display: flex;
	flex-flow: column wrap;
}
.LeftItem h2 {
	margin: 0px 0px 0px 0px;
	text-align: left;
}
.LeftItem p {
	text-align: left;
	margin: 0px .8rem 1rem 0px;
	color:#b1b1b1;
	font-size: 20px;
}
.AlbumArtist{
	display: flex;

}
.RightItem {
	display: flex;

}
.RightItem p {
	margin-right: 1rem;

}

.RightItem p i {
	cursor: pointer;
}

#songModal {
	display: none;
}
.songDetailsModal {
	display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}